@use '../themes/defaultTheme' as *;
@use '../util/mixins' as *;
@use '../util/variables' as *;

.results {
  width: 95%;

  div.tile {
    display: flex;
    flex-wrap: wrap;
    background: $grey-9;
    border-radius: $radius;
    word-spacing: $spacing;
    justify-content: center;
    align-items: center;
    width: 90vw;
    box-shadow: $light-shadow;
  }
}
.remove {
  color: $red-dark;
}
.read-link {
  color: rgb(0, 183, 255);
}

.pagination {
  margin: 50px;
  display: flex;
  p {
    margin: auto 10px;
    font-size: larger;
    text-align: center;
  }
  button {
    display: block;

    svg {
      font-size: 2.5rem;
      background: $primary-8;
      border-radius: $radius;
    }
    margin: auto;
  }
}

@include tablet {
  .results {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    background: transparent;
    justify-content: center;
    div.tile {
      display: flex;
      flex-wrap: wrap;
      background: $grey-9;
      border-radius: $radius;
      word-spacing: $spacing;
      justify-content: center;
      align-items: center;
      width: 45vw;
      box-shadow: $light-shadow;
      margin: auto;
    }
  }
}
