@use '../themes/defaultTheme' as *;
@use '../util/mixins' as *;
@use '../util/variables' as *;

.large-tile{
  object-fit: cover;


  
}
.container{
  display: flex;
  flex-direction: column;
  .three-listing{
    width: 100%;
    height: 33.33vh;
    font-size: 2.5rem;
    padding: 0 .5rem;
  }
}
.paralax {
  /* The image used */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.377)), url("./../media/pexels-vassilis-sfakianopoulos-3443255.jpg");

  /* Set a specific height */
  min-height: 95vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@include tablet{
  .container{
    flex-direction: row;
    .three-listing{
      
      width: 100vw;
      height: 300px;
    }
  }
}