@use '../util/mixins' as *;
@use '../util/variables' as *;
@use '../themes/defaultTheme' as *;


.background{
  background: $primary-8;
  width: 93vw;
  margin: 100px auto;
  @include flex-center-column;
  max-width: $max-width;
  border-radius: $radius;
  h1{
    margin: 30px;
  }
}
.section {
  width: 90vw;
  border-radius: $radius;
  @include flex-center-column;
  max-width: $max-width;
  position: relative;
  
}



.container {
  button {
    color: $white;
    display: block;
    width: 45%;
    border-color: transparent;
    background: $primary-4;
    margin: 2rem auto 0 auto;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    letter-spacing: $spacing;
    border-radius: $radius;
    outline: none;
    &:hover {
      background: $grey-1;
    }
  }
  .buttons {
    @include flex-center;
  }
}
.btn{
  background-color: black;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border-radius: $radius;
  text-transform: capitalize;
  color: $white;
  letter-spacing: $spacing;
  border-color: transparent;
  margin-top: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.underline{
  @include box(20rem, 0.25rem);
  @include center-auto;
  background: $primary-4;
}


.nav-center{
  .nav-header{
    @include flex-center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-toggle{
    font-size: 1.5rem;
    color: $primary-4;
    background: transparent;
    border-color: transparent;
    transition: $transition;
    cursor: pointer;
  }
}
